<div id="main-window1" class="main-window"> 
				
	<div class="window-title"> 
		<h2>WEBサイトの全体設定</h2> 
	</div> 
	
	<div class="window-content"> 
		
		<div id="main-section1" class="section"> 

			<div class="content">
				
				<form soy:id="form"> 
				
					<div id="post1-section1" class="form-section"> 
					
						<div class="label"> 
							<h4> 
								<label for="post1-1">WEBサイト名</label>
							</h4> 
						</div> 
						<div class="item"> 
							<p> 
								<input soy:id="site_name" class="xm-area" id="post1-2" value="" size="60" style="width:400px" /> 
							</p> 
						</div> 
						
						<div class="label"> 
							<h4> 
								<label for="post1-1">WEBサイトディレクトリ</label>
							</h4> 
						</div> 
						<div class="item"> 
							<p class="xxl"> 
								<!-- soy:id="site_directory" -->httpd....<!-- /soy:id="site_directory" -->
							</p> 
						</div>
						
						<div class="label"> 
							<h4>WEBサイトの説明</h4> 
						</div> 
						<div class="item"> 
							<textarea soy:id="site_description" class="m-area liq-area"></textarea> 
						</div>
						
						<div class="label"> 
							<h4> 
								<label for="post1-1">SSLの設定</label>
							</h4> 
						</div> 
						<div class="item"> 
							<input type="checkbox" soy:id="is_use_ssl" id="is_use_ssl" onclick="$('#ssl_option').toggle($(this).attr('checked'));" />
							<label for="is_use_ssl">SSLを使用する</label>
							<table id="ssl_option" soy:id="ssl_config_wrap" class="form-table">
									<tr>
										<th>SSL用URL</th>
										<td>
											<input soy:id="ssl_url" name="post1-2" type="text" class="m-area" id="post1-2" value="" size="40" />
										</td>
									</tr>
									<tr>
										<th>SSL用ディレクトリ</th>
										<td>
											<input soy:id="ssl_directory" name="post1-2" type="text" class="m-area" id="post1-2" value="" size="40" />
											<br />(index.php、.htaccessを書き出します。）
										</td>
									</tr>
								</table> 
						</div>
						
						<div class="label"> 
							<h4><label for="post1-3">タイムゾーン</label></h4> 
						</div> 
						<div class="item"> 
							<p> 
								<select soy:id="timezone"></select> 
							</p>
						</div>
						
						<div class="label"> 
							<h4><label for="post1-3">言語</label></h4> 
						</div> 
						<div class="item"> 
							<p> 
								<input soy:id="language" type="text" class="m-area" size="10" style="width:400px" /> 
							</p> 
						</div> 
						
						<div class="label"> 
							<h4><label for="post1-3">Author</label></h4> 
						</div> 
						<div class="item"> 
							<p> 
								<input soy:id="author" type="text" class="m-area" size="60" style="width:400px" /> 
							</p> 
						</div>
						
						<div class="label"> 
							<h4><label for="post1-3">Copyright</label></h4> 
						</div> 
						<div class="item"> 
							<p> 
								<input soy:id="copyright" type="text" class="m-area" size="60" style="width:400px" /> 
							</p> 
						</div>
						
						<div class="label"> 
							<h4>
								<label for="post1-3">favicon</label></h4> 
						</div> 
						<div class="item"> 
							<p>
								<img soy:id="favicon_img" width="32" height="32" style="margin-right:10px;"/>
								<input type="file" name="favicon_upload" /> 
							</p> 
						</div>
						
						<div class="label"> 
							<h4>
								<label for="post1-3">サイト全体をBasic認証に設定する</label></h4> 
						</div> 
						<div class="item"> 
							<p>
								<input type="checkbox" soy:id="mode_basic_auth" id="mode_basic_auth" onclick="$('#mode_basic_auth_option').toggle($(this).attr('checked'));" />
								<label for="mode_basic_auth">サイト全体をBasic認証に設定する</label>
							</p> 
							<div>
								<table id="mode_basic_auth_option" soy:id="mode_basic_auth_option_wrap" class="form-table">
									<tr>
										<th>ユーザID</th>
										<td>
											<input soy:id="mode_basic_auth_id" name="post1-2" type="text" class="m-area" id="post1-2" value="" size="40" />
										</td>
									</tr>
									<tr>
										<th>パスワード</th>
										<td>
											<input soy:id="mode_basic_auth_pass" name="post1-2" type="text" class="m-area" id="post1-2" value="" size="40" />
										</td>
									</tr>
								</table>
							</div>
						</div>
						
						<?php /**
						<div class="label"> 
							<h4>
								<label for="post1-3">メンテナンスモード設定</label></h4> 
						</div> 
						<div class="item"> 
							<p>
								<input type="checkbox" soy:id="mode_maintenance" id="mode_maintenance" />
								<label for="mode_maintenance">メンテナンス中に設定する</label>
							</p> 
							<p>メンテナンス中表示用のmaintenance.htmlを自動で生成します。</p>
						</div>
						
						*/ ?>
						
						<div class="label"> 
							<h4><label>記事のバックアップ保存数(最大100件)</label></h4> 
						</div>
						<p class="intro">記事毎に何件バックアップを保存するか設定します。</p>
						<div class="item"> 
							<p>
								<input type="text" class="m-area" soy:id="entry_history_count" size="4" />件 
							</p> 
						</div>
						
						<div class="label"> 
							<h4><label>テンプレートのバックアップ保存数(最大100件)</label></h4> 
						</div>
						<p class="intro">テンプレート・ライブラリ毎に何件バックアップを保存するか設定します。</p>
						<div class="item"> 
							<p>
								<input type="text" class="m-area" soy:id="template_history_count" size="4" />件 
							</p> 
						</div>
						
						<div class="label"> 
							<h4><label>記事の自動保存設定</label></h4> 
						</div>
						<div class="item"> 
							<p>
								<input type="checkbox" class="m-area" soy:id="is_use_autosave" />
								<label for="is_use_autosave">記事の自動保存を有効にする</label> 
							</p>
						</div>
						
						<div class="label"> 
							<h4><label>クイックメニュー設定</label></h4> 
						</div>
						<div class="item"> 
							<p>
								<input type="checkbox" class="m-area" soy:id="is_use_quickmenu" />
								<label for="is_use_quickmenu">クイックメニューを使用する</label> 
							</p> 
						</div>
						
						<!-- soy:id="has_dashboard_config" -->
						<div class="label"> 
							<h4><label>サイトトップの設定</label></h4> 
						</div>
						<div class="item"> 
							<p class="intro">サイトトップに表示する画面を選択してください</p>
							<select soy:id="dashboard_config">
								<option value="">サイトマップ</option>
							</select>
						</div>
						<!-- /soy:id="has_dashboard_config" -->
						
						<div class="label"> 
							<h4>更新Ping送信先</h4> 
						</div>
						<div class="item">
							<p>1件毎に改行してください</p> 
							<p>
								<textarea class="m-area liq-area" soy:id="update_ping_target" rows="4"></textarea> 
							</p> 
						</div>
						
						<div class="form-btn ce"> 
							<p class="lbreak">
								<input type="submit" value="設定する" id="post1-submit" name="post1-submit" class="l-btn" />
							</p>
							<p>
								<input type="submit" value="キャッシュのクリア" name="clear_cache" class="m-btn" />
							</p> 
						</div>
					</div> 
					

				</form> 
			</div> 
		</div> 
		<!--  // #main-section1 --> 

		


	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-window1 --> 