<!-- soy:id="quickmenu" -->
クイックメニュー
<!-- /soy:id="quickmenu" -->


<!-- soy:id="dashboard" -->
<div id="dashboard-window" class="main-window"> 
					
	<div class="window-title"> 
		<h2><!-- soy:id="ext_title" /--></h2>
		
		<!-- soy:id="ext_config_exists" -->
		<p class="window-title-btn-edit btn"> 
			<a soy:id="ext_config">設定</a>	
		</p>
		<!-- /soy:id="ext_config_exists" -->
	</div> 
	
	<div class="window-content">
		<div class="section">
			<!-- soy:id="ext_page" /-->
		</div>
	</div> 
	<!--  // .window-content --> 
</div>  
<!-- /soy:id="dashboard" -->
 
<!-- soy:id="sitemap" -->
サイトマップ
<!-- /soy:id="sitemap" -->
