<!-- soy:id="type_dir" -->
<div id="main-window1" class="main-window"> 
					
	<div class="window-title"> 
		<h2>ディレクトリの複製</h2> 
	</div> 
	
	<div class="window-content"> 
	
		<div class="tab-menu"> 
			<ul class="tab-index"> 
				<li><a href="#tab1">ディレクトリ基本設定</a></li>
			</ul> 
			<ul class="tab-contents"> 
				<li id="tab1_contents"> 
					<form soy:id="dir_form" method="post" action="xxx" id="post1" name="post1">
						
					<div class="section"> 
						
						<div class="title"> 
							<h3>ディレクトリの基本設定</h3> 
						</div>	
						<div class="content"> 
				
							<div id="post1-section1" class="form-section">
								
								<input type="hidden" soy:id="page_type_dir" /> 
							
								<div class="label"> 
									<h4> 
										<label for="post1-1">ディレクトリ名</label>
									</h4> 
								</div> 
								<div class="item"> 
									<p> 
										<input soy:id="page_name" name="post1-2" type="text" class="m-area liq-area" id="post1-2" value="ディレクトリ名A" size="70" /> 
									</p> 
								</div> 
	
								<div class="label"> 
									<h4> 
										<label for="post1-1">ディレクトリのURL</label> 
										※英数字,_(アンダースコア),-(ハイフンのみ)</h4> 
								</div> 
								<div class="item"> 
									<p> 
										<span class="m-area liq-area">
										<!-- soy:id="site_url" /-->
										<!-- soy:id="page_uri_prefix_text" /-->
										</span>
										<input soy:id="page_uri_prefix_text" type="hidden" />
										<input soy:id="page_uri" name="post1-2" type="text" class="m-area" id="post1-2" value="dirnameA/" size="40" /> 
									</p> 
								</div> 
								
								<div class="label"> 
									<h4> 
										<input id="create_alias" type="checkbox" name="Page[type]" value="alias" onclick="$('#create_alias_option').slideDown();" />
										<label for="create_alias">ディレクトリのエイリアスの作成</label>
									</h4> 
								</div> 
								<div id="create_alias_option" class="item" style="display:none;"> 
									<p class="intro">特定のディレクトリの複製を作成することが出来ます。</p>
									
									<div class="pagelist-content">
										<ul>
											<!-- soy:id="directory_tree" -->
											<li soy:id="page_list_wrap">
												<dl> 
													<dt class="image">
														<img soy:id="page_icon" style="width:32px;height:32px;" />
													</dt> 
													<dt>
														<input type="radio" soy:id="page_check" />
													</dt>
													<dd>
														 ( <!-- soy:id="page_uri" /--> )
													</dd> 
												</dl>
												<!-- soy:id="tree_child" -->
												<ul>
													<!-- soy:id="tree" -->ここが再帰的に実行<!-- /soy:id="tree" -->
												</ul>
												<!-- /soy:id="tree_child" --> 
												
											</li soy:id="page_list_wrap">
											<!-- /directory_tree -->
										</ul>
									</div><!-- // .pagelist-content -->
									
								</div> 
	
	
							<div class="form-btn ce"> 
								<input type="submit" value="作成する" id="post1-submit" name="post1-submit" class="l-btn" /> 
							</div> 
	
	
	
							</div> 
					
	
					</div><!-- // .content -->
					 
					</div>
					<!-- // .section -->
					
					</form>		
				</li> 
			
			</ul> 
	
	
	
	
		</div> 
		<!--  // .tab-menu --> 
		
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-window1 --> 

<!-- /soy:id="type_dir" -->

<!-- soy:id="type_page" -->
<div id="main-window1" class="main-window"> 
					
	<div class="window-title"> 
		<h2>ページの複製</h2> 
	</div> 
	
	<div class="window-content"> 
	
		<div class="tab-menu"> 
			<ul class="tab-index"> 
				<li><a href="#tab1">ページ基本設定</a></li>
			</ul> 
			<ul class="tab-contents"> 
				<li id="tab1_contents"> 
					<form soy:id="form" method="post" action="xxx" id="post1" name="post1">
						
					<div class="section"> 
							
						<div class="title"> 
							<h3>ページのタイプ</h3> 
						</div>	
							
						<div class="content"> 
						<span class="li1"> 
							<input soy:id="page_type_1" type="radio" value="1" name="tpml-type-cfg" id="tpml-type-cfg" />
							<input soy:id="page_type_2" type="radio" value="2" name="tpml-type-cfg" id="tpml-type-cfg" />
							<input soy:id="page_type_3" type="radio" value="3" name="tpml-type-cfg" id="tpml-type-cfg" />
							<input soy:id="page_type_app" type="radio" value="4" name="tpml-type-cfg" id="tpml-type-cfg" />
						</span> 
						<p><strong>※ページのタイプは作成後に変更できません。変更する場合は、ページを作成しなおしてください。</strong></p> 
						</div> 
					</div> 
	
	
					<div class="section"> 
						
						<div class="title"> 
							<h3>ページの基本設定</h3> 
						</div>	
						<div class="content"> 
				 
				
							<div id="post1-section1" class="form-section"> 
							
								<div class="label"> 
									<h4> 
										<label for="post1-1">ページ名</label></h4> 
								</div> 
								<div class="item"> 
									<p> 
										<input soy:id="page_name" name="post1-2" type="text" class="m-area" size="70" /> 
									</p> 
								</div> 
	
								<div class="label"> 
									<h4> 
										<label for="post1-1">ページのURL</label> 
										※英数字,_(アンダースコア),-(ハイフンのみ)</h4> 
								</div> 
								<div class="item"> 
									<p> 
										<!-- soy:id="site_url" /--><!-- soy:id="page_uri_prefix_text" /-->
										<input soy:id="page_uri_prefix" type="hidden" />
										<input soy:id="page_uri" name="post1-2" type="text" class="m-area" id="post1-2" value="dirnameA/" size="40" /> 
									</p> 
								</div> 
	
	
							<div class="form-btn ce"> 
								<input type="submit" value="作成する" id="post1-submit" name="post1-submit" class="l-btn" /> 
							</div>
	
							</div> 
					
	
					</div><!-- // .content -->
					 
					</div>
					<!-- // .section -->
					
					</form>		
				</li> 
			
			</ul> 
	
	
	
	
		</div> 
		<!--  // .tab-menu --> 
		
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-window1 --> 
<!-- /soy:id="type_page" -->