<div id="main-window1" class="main-window"> 
				
	<div id="window-title-directory" class="window-title"> 
		<h2><span soy:id="menu_title">サイトマップ</span></h2> 
	</div> 
	
	<div class="window-content"> 
	
		<div class="tab-menu">
			<ul class="tab-index"> 
				<li><a href="#mode-contents" onclick="change_sitemap_mode('mode-contents');">コンテンツ</a></li>
				<li class="role-designer"><a href="#mode-config" onclick="change_sitemap_mode('mode-config');">編集</a></li>
				<li class="role-designer"><a href="#mode-template" onclick="change_sitemap_mode('mode-template');">テンプレート</a></li>
			</ul> 
		</div>
		
		<ul class="tab-contents">
			<li id="mode-contents_contents">
				<div class="pagelist-menu section role-designer"> 
					<ul>
						<li class="directory-add"><a soy:link="page/create">ディレクトリを作成する</a></li>
						<li class="page-add"><a soy:link="page/error">エラーページの設定</a></li> 
					</ul>
				</div>
			</li>
			<li id="mode-config_contents">
				<div class="pagelist-menu section role-designer">
					<ul>
						<li class="directory-add"><a soy:link="page/create">ディレクトリを作成する</a></li>
						<li class="page-add"><a soy:link="page/error">エラーページの設定</a></li>
					</ul>
				</div>
			</li>
			<li id="mode-template_contents">
				<div class="pagelist-menu section">
					<ul>
						<li class="template-set"><a soy:link="page.template.create">新しいテンプレートを作成</a></li>
					</ul>
				</div>
				<div class="content section" id="quickmenu_list">
					<h4>テンプレート一覧</h4>
					<div style="width:100%;overflow:auto;padding-bottom:10px;">
						<ul id="template-list-menu" class="quickmenu-list">
							<!-- soy:id="template_list" -->
							<li class="quickmenu">
								<dl>
									<dt>
										<a soy:id="template_edit_link*"><img class="template-preview-image" soy:id="template_preview_image" width="60" height="60" /></a>
										<input type="hidden" soy:id="template_id" class="template_id" />
									</dt>
									<dd>
										<p><a class="template_edit_link" soy:id="template_template_link"><!-- soy:id="template_name" /--></a></p>
									</dd>
								</dl>
							</li>
							<!-- /soy:id="template_list" -->
						</ul>
					</div>
				</div>
			</li>
		</ul>
		
		<div id="sitemap" class="mode-contents">
		<div class="section"> 
			<p class="ri sitemap-mode-navi lbreak">
				<a href="javascript:void(0);" class="mode-all" onclick="common_sitemap_mode('all');">全て</a> | <a class="mode-dir" href="javascript:void(0);" onclick="common_sitemap_mode('dir');">index.htmlを隠す</a>
			</p>
			<div class="pagelist-content">
				<form soy:id="form">

				<div class="save_order_wrap form-btn ce under" style="display:none;"> 
					<input type="submit" value="表示順を保存する" id="post1-submit" name="post1-submit" class="l-btn-red" /> 
				</div> 
					
				<ul>
					<!-- soy:id="page_list" -->
					<li soy:id="page_list_wrap"> 
						<dl class="page-item">
							<dt class="image">
								<a soy:id="detail_link*">
									<img soy:id="page_icon" style="width:32px;height:32px;" />
								</a>
							</dt>
							<dt class="name">
								<a soy:id="public_link*"><span><!-- soy:id="page_name" /--></span></a> (<!-- soy:id="page_uri" -->uri<!-- /soy:id="page_uri" -->)
								<input soy:id="page_order" type="hidden" />
							</dt> 
							<dd class="pagelist-tool-wrap">
									<ul class="pagelist-tool">
										<!-- soy:id="is_not_directory*" -->
										<li class="index-set mode-config mode-contents role-designer"><a soy:id="config_link*">設定</a></li>
										<li class="page-add mode-contents role-editor"><a soy:id="edit_entry_link">ページの編集</a></li>
										<!-- /soy:id="is_not_directory*" -->
										<!-- soy:id="is_directory*" -->
										<li class="directory-set mode-config mode-contents role-designer"><a soy:id="config_link*">設定</a></li>
										<!-- /soy:id="is_directory*" -->
										
										<li class="template-set mode-template role-designer"><a soy:id="item_link">要素設定</a></li>
										<li class="index-set mode-template role-designer"><a soy:id="template_link">切り替え</a></li>
										<li class="edit mode-template role-designer"><a soy:id="template_edit_link"><span>編集</span></a></li>
									
										<!-- soy:id="is_directory*" -->
										<li class="index-set mode-contents role-editor"><a soy:id="list_link">記事の管理(<!-- soy:id="entry_count" /-->)</a></li>
										<li class="edit mode-contents role-editor"><a soy:id="create_entry_link">記事の追加</a></li>
										<li class="directory-add mode-config role-designer"><a soy:id="create_directory_link">ディレクトリ追加</a></li> 
										<li class="page-add mode-config role-designer"><a soy:id="create_page_link">ページの追加</a></li>
										<!-- /soy:id="is_directory*" -->
										
										<li class="copy mode-config role-designer" soy:id="copy_link_wrap"><a soy:id="copy_link">コピー</a></li>
										<li class="delete mode-config role-designer"><a soy:id="remove_link">削除</a></li>
										
										<!-- soy:id="is_directory*" -->
										<li class="order mode-config role-designer"><a href="javascript:void(0);" onclick="start_page_order($(this));">表示順変更</a></li>
										<!-- /soy:id="is_directory*" -->
										
										<!-- soy:id="is_not_directory*" -->
										<li class="dynamic-edit mode-contents mode-config role-designer"><a soy:id="dynamic_edit_link">ダイナミック編集</a></li>
										<!-- /soy:id="is_not_directory*" -->
									</ul>
								
							</dd> 
						</dl>
						<!-- soy:id="tree_child" -->
						<ul class="page-child">
							<!-- soy:id="tree" -->ここが再帰的に実行<!-- /soy:id="tree" -->
						</ul>
						<!-- /soy:id="tree_child" --> 
						
					</li soy:id="page_list_wrap">
					<!-- /page_list -->
					
				</ul>
				
				<div class="save_order_wrap form-btn ce under" style="display:none;"> 
					<input type="submit" value="表示順を保存する" id="post1-submit" name="post1-submit" class="l-btn-red" /> 
				</div> 
				
				</form>
			</div>
			
			
		</div> <!-- // .section -->
		</div><!-- // #sitemap --> 

		
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-window1 -->

<style type="text/css">
.pagelist-tool li{
	display:none;
}
.mode-contents li.mode-contents{
	display:block;
}
.mode-config li.mode-config{
	display:block;
}
.mode-template li.mode-template{
	display:block;
}
.sitemap-mode-navi{
	position:absolute;
	right:10px;
	top:50px;
}
.template-preview-image{
	border-style:solid;  border-width:3px;
}
<!-- soy:id="not_designer" -->
.role-designer{
	display:none !important;
}
<!-- /soy:id="not_designer" -->
<!-- soy:id="not_editor" -->
.role-editor{
	display:none !important;
}
<!-- /soy:id="not_editor" -->
</style>
<script type="text/javascript">
var change_sitemap_mode = function(class_name){
	$('#sitemap').attr('class',class_name);
	$.cookie("sitemap_mode",class_name, {expires:7});
}

var start_page_order = function(ele){
	$(".page-item").css("opacity",0.5);
	$(".pagelist-tool-wrap").hide();
	$(".save_order_wrap").fadeIn();
	
	var parent = $(ele).parents(".page-item").css("opacity",1).parent();
	parent.addClass("mode_sort");
	$(ele).parents(".page-item").append($('<dt class="move_op"><input type="button" class="s-btn" value="キャンセル" onclick="cancel_page_order();" /></div>'));
	
	$(".page-item",parent).css("opacity",1);
	$(".page-child .page-child",parent).hide();
	$(".page-child .child .page-item",parent).append($('<dt class="move_op"><a class="s-btn move-up" href="javascript:void(0);"><em>↑</em></a><a class="s-btn move-down" href="javascript:void(0);"><em>↓</em></a></dt>'));
	
	$(".move_op .move-up").click(function(){
		var ele = $(this).parents(".page-item").parent();
		if(ele.prev().size()){
			ele.prev().before(ele);
			ele.hide().fadeIn();
		}
	});
	
	$(".move_op .move-down").click(function(){
		var ele = $(this).parents(".page-item").parent();
		if(ele.next().size()){
			ele.next().after(ele);
			ele.hide().fadeIn();
		}
	});
};
var cancel_page_order = function(){
	$(".child").show();
	$(".pagelist-tool-wrap").show();
	$(".page-item").css("opacity",1);
	$(".mode_sort").removeClass("mode_sort");
	$(".move_op").remove();
	$(".save_order_wrap").hide();
}

$(function(){

//<?php $mode = SOYCMS_UserData::get("sitemap_mode","all"); ?>
//<?php if($mode == "dir"){ ?>

	$(".pagelist-content .type-page").hide();
	$(".sitemap-mode-navi").addClass("mode-dir");


//<?php } ?>

	if(location.search.match(/created=([0-9]+)/)){
		$("#page-" + RegExp.$1 +  " > dl").addClass("new-directory");
		$("#page-" + RegExp.$1 + " .type-page").show();
	}
	
	//tabs
	val = $.cookie("sitemap_mode");
	if(location.hash.length > 0)val = location.hash.substring(1);
	if(!val)val = "mode-contents";
	if(val){
		$('#sitemap').attr('class',val);
		
		$(".tab-index li").each(function(){
			if($(this).find("a").attr("href") == "#" + val){
				$(this).addClass("on");
				$(this).click();
			}
		});
	}
	
	
	//template list
	var max_height = 0,width = 130;
	$("#template-list-menu li").each(function(){
		max_height = Math.max($(this).height(),max_height);
		width += $(this).width();
		
		$(this).mouseover(function(){
			$("#sitemap .name a span").attr("style"," ");
			
			borderColor = $(this).find(".template-preview-image").css("borderColor");
			
			$("#sitemap a[href="+ $(this).find(".template_edit_link").attr("href") + "]").parents(".page-item").find(".name a span").css({
				"backgroundColor": borderColor,
				"padding" : "3px"
			});
		});
	});
	if(max_height)$("#template-list-menu").height(max_height);
	if(width > 130)$("#template-list-menu").width(width);
	
	//空のメニューバーを消す
	if($(".pagelist-tool li:visible").size() < 1){
		$(".pagelist-tool").hide();
	}
	
});
</script>
