<div id="main-window1" class="main-window"> 
					
<div class="window-title">
	<h2><!-- soy:id="page_name*" /-->の削除確認</h2> 
</div> 

<div class="window-content">
	
	<div class="section">
		<p style="color:#F60; font-size:large"><strong>本当に削除してもよろしいですか？この処理は戻せません。</strong></p>
	
	</div><!-- // .section -->
	
	<!-- soy:id="page_info" /-->
	
	<div class="section">
		<form soy:id="form">
			
			<div class="form-btn ce">
				<input type="submit" name="back" class="l-btn" value="戻る" />
				&nbsp;&nbsp;
				<input type="submit" name="next" class="l-btn" value="削除" />
			</div>
			
		</form>
	</div>
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-window1 --> 