<div style="overflow:hidden;">
<div id="introduction_wrapper"></div>
</div>

<div id="main-introduction1" class="introduction"> 
					
	<div class="window-title"> 
		<h2>ようこそ　SOY CMS2のコントロールパネルへ</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">SOY CMS2はWEB制作のプロに向けた新しいオープンソースCMSです。<br /> 
SOY CMS2は様々なWEBサイト構築に利用できる汎用型CMSとして設計されています。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_01.jpg" alt="WEBサイト制作のワークフロー" width="600" height="180"></td> 
					</tr> 
				</table>
					<ul class="btn-list ce"><li><a href="javascript:$('#close_form').submit();" class="sh-btn hi-btn ce-b"><em>閉じる</em></a></li><li><a href="javascript:go_slide(2);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>

				<form id="close_form" soy:id="form">

					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

					<p class="ce intro"><input type="checkbox" name="finish_intro" value="1" checked /><em>次回ログイン時に表示しない</em></p>

				</form> 

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>

			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction1 -->


<div id="main-introduction2" class="introduction"> 
					
	<div class="window-title"> 
		<h2>WEBサイトの作り方―　サイトマップを作りましょう</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">SOY CMS2ではディレクトリ単位でデザインやコンテンツを自由に管理する事が出来ます。<br /> 
				WEBサイトの構造に合わせてディレクトリを作成しましょう。	</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_02.jpg" alt="ディレクトリを作成しましょう" width="250" height="180"></td> 
					</tr> 
					<tr> 
						<td class="ce">格納されるコンテンツに合わせて、ディレクトリを設定しましょう。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(1);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><li><a href="javascript:go_slide(3);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li><li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>
					

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>
					
			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction2 -->



<div id="main-introduction3" class="introduction"> 
					
	<div class="window-title"> 
		<h2>サイトを確認しながら編集できる―　ダイナミック編集</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">SOY CMS2にはWEBサイトを確認しながらテンプレートの編集やコンテンツの編集が行える<br /> 
				ダイナミック編集機能が搭載されています。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_02.5.jpg" alt="ダイナミック編集からWEBサイトを変更しましょう" width="600" height="180"></td> 
					</tr> 
					<tr> 
						<td class="ce">ダイナミック編集を使えば、管理画面メニューを迷子にならずとも、<br />
						編集したい箇所をクリックして各管理ページへアクセスする事が出来ます。</td> 
					</tr> 
				</table>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(2);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(4);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>
 
			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction3 -->


<div id="main-introduction4" class="introduction"> 
					
	<div class="window-title"> 
		<h2>WEBデザインをテンプレート化するには―</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">WEB制作者が直感的にhtmlを管理するために、SOY CMS2では<br /> 
				新しいテンプレートエンジンを搭載しました。	</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_03.jpg" alt="SOY CMS2テンプレートエンジン" width="250" height="180"></td> 
					</tr>
							<tr> 
						<td class="ce">新しいテンプレート機能を使えば、効率的にインターフェイスデザインを管理できます。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(3);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(5);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>	
	
			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction4 -->   


<div id="main-introduction5" class="introduction"> 
					
	<div class="window-title"> 
		<h2>テンプレート機能について</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">コンテンツ別にインターフェイスデザインを適応するために、<br /> 
				テンプレート機能を利用してください。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_04.jpg" alt="ディレクトリごとに別々のテンプレートを設定" width="510" height="180"></td> 
					</tr> 
					<tr> 
						<td class="ce">ディレクトリごとに別々のテンプレートを設定できます。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(4);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(6);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>

			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction5 -->


<div id="main-introduction6" class="introduction"> 
					
	<div class="window-title"> 
		<h2>テンプレート機能その2― 「ライブラリ」について</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">検索ボックス、ヘッダーデザイン、フッターのコピーライト表記など、<br /> 
				同じhtmlを繰り返し再利用する場合、ライブラリ機能を使って管理しましょう。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_05.jpg" alt="ライブラリ化する" width="250" height="180"></td> 
					</tr> 
					<tr> 
						<td class="ce">ライブラリ化しておけば、複数のテンプレートにまたがるhtmlを一元的に管理でき、<br /> 
						修正も一度の操作で行えます。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(5);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(7);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>

			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction6 -->


<div id="main-introduction7" class="introduction"> 
					
	<div class="window-title"> 
		<h2>テンプレート機能その3― 「ナビゲーション」について</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">WEBサイトのサイドバーなどで複数の要素を表示する場合、<br /> 
				ブログのガジェットのようにドラッグ＆ドロップで要素を管理する事が可能です。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_06.jpg" width="250" height="180"></td> 
					</tr> 
					<tr> 
						<td class="ce">サイドバーなど、並び順がディレクトリ別に異なる設定を行いたい場合に<br />
						ナビゲーション機能を使うと、効率的にインターフェイスを管理できます。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(6);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(8);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>

			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction7 --> 


<div id="main-introduction8" class="introduction"> 
					
	<div class="window-title"> 
		<h2>テンプレート機能その4― 「ブロック」について</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">トップページにお知らせ記事を5件表示したいなど、<br /> 
				コンテンツの表示を動的に管理したい場合、ブロック機能を利用します。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_07.jpg" alt="ブロック機能" width="250" height="180"></td> 
					</tr> 
					<tr> 
						<td class="ce">実装するWEBデザインに合わせて、専用のコメントタグをhtmlに挿入する事で、<br /> 
						簡単に制御する事が可能です。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(7);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(9);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>

			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction8 --> 


<div id="main-introduction9" class="introduction"> 
					
	<div class="window-title"> 
		<h2>htmlがわからない管理者でも簡単にコンテンツを作成したい</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">SOY CMS2ではコンテンツの管理を設計者が柔軟に行えるように、<br /> 
				新しいWYSIWYGエンジンを搭載しています。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_08.jpg" alt="SOY CMS2 WYSIWYGエンジン" width="250" height="180"></td> 
					</tr> 
					<tr> 
						<td class="ce">投稿ボタンをディレクトリ単位で制御したり、<br /> 
						オリジナル投稿ボタンを追加する事も可能です。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(8);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(10);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>


			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction9 -->


<div id="main-introduction10" class="introduction"> 
					
	<div class="window-title"> 
		<h2><span class="intro xl ce">標準</span>テンプレートをカスタマイズしながらテンプレート機能をマスターしましょう</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">SOY CMS2にはカスタマイズを前提とした標準テンプレートが含まれています。<br /> 
				標準テンプレートを変更しながら、新しいテンプレート機能をマスターしましょう。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_09.jpg" alt="初期テンプレートについて" width="250" height="180"></td> 
					</tr>
					<tr> 
						<td class="ce">標準テンプレートにはSOY CMS2のテンプレートタグを利用した<br /> 
						様々なパターンが含まれています。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(9);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(11);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>


			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction11 -->



<div id="main-introduction11" class="introduction"> 
					
	<div class="window-title"> 
		<h2>その他、SOY CMS2には多数の新機能が実装されています</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">承認公開フロー、カスタムフィールドプラグイン、メールフォームプラグイン、検索フォームプラグイン、<br /> 
				投稿ボタン作成機能、YouTubeビデオ挿入ボタン、管理画面のテーマ変更など、多数の機能が含まれています。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_09.5.jpg" alt="サイト制作に役立つ沢山の新機能が実装されています" width="250" height="180"></td> 
					</tr>
					<tr> 
						<td class="ce">サイト制作に使える機能が多数含まれています。是非お試しください。<br />
						※今後実装する機能はフィードバックページにて公開しています。</td> 
					</tr> 
				</table> 
					<ul class="btn-list ce"><li><a href="javascript:go_slide(10);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>次へ</em></a></li></ul>
					<ul class="btn-list ce"><li><a href="javascript:go_slide(12);" class="sh-btn hi-btn ce-b"><em>スキップ</em></a></li></ul>

	<p class="ce" style="margin-top:8em;">SOY CMS2 Developer Team</p>


			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction12 -->



<div id="main-introduction13" class="introduction"> 
					
	<div class="window-title"> 
		<h2>フィードバックをお待ちしています</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content"> 
				<p class="intro xl ce">SOY CMS2に関するフィードバックをお待ちしています。<br /> 
				(改善すべき点や欲しい機能など) SOY CMS2サイトにてフィードバックを受け付けております。</p> 
				<table class="form-table"> 
					<tr> 
						<td class="ce"><img soy:src="../common/img/start_10.jpg" width="250" height="180"></td> 
					</tr>
					<tr> 
						<td class="ce">フィードバックページには<br /> 
						機能追加情報も掲載しています。</td> 
					</tr>
				</table>
				

				<form id="close_form" soy:id="form">

					<ul class="btn-list ce"><li><a href="javascript:go_slide(11);" class="sh-btn hi-btn ce-b"><em>戻る</em></a></li><li><a href="javascript:$('#close_form').submit();" class="sh-btn hi-btn ce-b"><em>閉じる</em></a></li></ul>

					<p class="ce intro"><input type="checkbox" name="finish_intro" value="1" checked /><em>次回ログイン時に表示しない</em><br /><a href="javascript:go_slide(1);" class="ce-b"><em>はじめに戻る</em></a></p>


				</form>

	<p class="ce" style="margin-top:7em;">SOY CMS2 Developer Team</p>

			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-introduction12 --> 

<div id="debug"></div>
 
<script type="text/javascript">
$(function(){
	var wrapper = $("#introduction_wrapper");
	wrapper.append($(".introduction"));
	
	var height = 0,width = 0;
	$(".introduction").each(function(){
		height = Math.max(height,$(this).height());
		width += $(this).width();
		$(this).css("width",$(this).width());
	});
	width += 30;
	wrapper.css({"height":height,width:width});
});

var go_slide = function(num){
	var wrapper = $("#introduction_wrapper");
	var width = $($(".introduction").get(num-1)).width();
	
	
	
	try {
		wrapper.animate({
			left: width * (num - 1) * -1
		},800);
	}catch(e){
		alert(e);
	}
};
</script>
<style type="text/css">
#introduction_wrapper{
	overflow:auto;
	position:relative;
}
.introduction{
	display: block; float: left;
	width:100%;
	background-color:white;
}
</style>
