<div id="main-window1" class="main-window"> 
				
<div id="window-title-layout" class="window-title">
<h2><span>テンプレートの削除</span></h2> 
</div> 

<div class="window-content"> 

<div id="main-section1" class="section"> 


					<ul class="crumbs">
						<li><a soy:link="./" title="管理画面トップ" class="home_btn">管理画面トップ</a></li>
						<li><a soy:link="page/template">テンプレートの管理</a></li>
						<li><!-- soy:id="template_name" /--> テンプレートの削除</li>
					</ul>


	<div class="content"> 

		<form soy:id="form" method="post" action="xxx" id="post1" name="post1"> 
		
			<div id="post1-section1" class="form-section"> 
			

			<h3>「<!-- soy:id="template_name" /-->」 を削除してよろしいですか？</h3> 
			<p class="intro">
				この作業は取り消すことが出来ません。
				関連している要素は削除されません。
			</p> 

			<div class="form-btn ce"> 
				<input type="submit" value="戻る" id="post1-submit" name="next" class="m-btn" />
				<input type="submit" value="削除" id="post1-submit" name="remove" class="l-btn" /> 
			</div> 

			</div> 
			

		</form> 
 






			</div> 
		</div> 
		<!--  // #main-section1 --> 

		


	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-window1 -->
