<div id="main-window1" class="main-window"> 
					
<div id="window-title-layout" class="window-title">
	<h2><span>テンプレート：<!-- soy:id="template_name_text*" /-->の編集</span></h2> 
</div> 

<div class="window-content">
	
	<form soy:id="form">
	
	<div class="tab-menu"> 
		<ul class="tab-index"> 
			<li><a href="#tpl_config">テンプレート設定</a></li>
			<li><a href="#tpl_item">要素設定</a></li> 
		</ul> 
		<ul class="tab-contents"> 

			<li id="tpl_config_contents"> 
				<div class="section"> 


					<ul class="crumbs">
						<li><a soy:link="./" title="管理画面トップ" class="home_btn">管理画面トップ</a></li>
						<li><a soy:link="page/template">テンプレートの管理</a></li>
						<li><!-- soy:id="template_name_text*" /--></li>
					</ul>




						<!-- soy:id="created*" -->
						<p class="xl intro" style="border:solid 1px #cccccc;padding:5px;">
							テンプレートを作成しました。
							<strong><a href="javascript:void(0);" onclick="$('#pages_popup_link').click();">テンプレートの割り当てを行う</a>
							</strong>
						</p>
						<!-- /soy:id="created*" -->



				<div class="section cfg-menu">
					<div class="cfg-menu-1">
						<h3>テンプレート名</h3>
					</div><!--  // .cfg-menu-1 -->

					<div class="cfg-menu-2">
					<p>
						<input name="tpml-name" type="text" class="m-area" soy:id="template_name"" value="テンプレート名A" style="width:420px;" />
					</p>
					</div><!--  // .cfg-menu-2 -->
				</div><!--  // .section -->

				<hr class="design-hr" />



				<div class="section cfg-menu">
					<div class="cfg-menu-1">
						<h3>オプション</h3>
					</div><!--  // .cfg-menu-1 -->

					<div class="cfg-menu-2">

						<p class="break">種類： <strong><!-- soy:id="template_type_text" /--></strong>
						<span style="margin: 0 10px;"><a id="pages_popup_link" class="s-btn" soy:id="pages_link" onclick="common_open_popup($(this).attr('href'));return false;">一括設定</a></span>
						</p>
						<p class="break">
						色設定：<span class="item colorSelector" style="width:20px;"><input type="text" class="s-area" id="template_color" soy:id="template_color" /></span> (管理画面用)
						</p>
					</div><!--  // .cfg-menu-2 -->
				</div><!--  // .section -->

				<hr class="design-hr" />




				<div class="section cfg-menu">
					<div class="cfg-menu-1">
						<h3>使用中のページ・<br />ディレクトリ</h3>
					</div><!--  // .cfg-menu-1 -->

					<div class="cfg-menu-2">
						<div class="item"> 
							<!-- soy:id="page_list" -->
								<a soy:id="page_link">ディレクトリへのリンク</a>
								<a soy:id="page_public_link" class="external"><em>URL</em></a>
								<!-- soy:id="not_last" -->|<!-- /soy:id="not_last" -->
							<!-- /soy:id="page_list" -->
							<!-- soy:id="no_page" -->
							このテンプレートを使用中のページ・ディレクトリはありません
							<!-- /soy:id="no_page" -->
							</div>
					</div><!--  // .cfg-menu-2 -->
				</div><!--  // .section -->

				<hr class="design-hr" />



						<div class="form-btn ce"> 
							<input type="submit" value="テンプレート設定を保存する" id="post1-submit" name="save_config" class="m-btn" /> 
						</div>
						



					
				</div>
				
				<div class="section">	
					
					<div class="content">
					
					<div class="label">
						<h3>テンプレートのHTML</h3>
					</div>
					<div class="item break"> 
						<ul class="tab_index">
							<li><a href="javascript:void(0);">HTML</a></li>
							<li><a href="javascript:void(0);">Layout</a></li>
							<li><a href="javascript:void(0);">Property</a></li>
							<li><a soy:id="preview_link">Preview</a></li>
						</ul>
						<ul class="tab_container">
							
							<li id="tab1_container">
								<textarea soy:id="template_content*" name="Template[template]" cols="70" rows="17" class="m-area liq-area resizable html-editor" id="soycms_template_content">テンプレートhtmlが表示されます</textarea>
								
								<p>
									<input type="checkbox" id="is_overwrite" name="is_overwrite" value="1" />
									<label for="is_overwrite">既存のライブラリ・ナビゲーションを上書きする</label>
								</p>
								
								<div class="html-editor-btn break">
									<div class="form-btn ce"> 
										<input type="submit" value="テンプレートを保存する" id="post1-submit" name="save_template" class="l-btn" /> 
									</div>
								</div>
							</li>
							
							<li id="tab2_container">
								<div class="intro ri">
									レイアウトを追加する
									<input type="text" class="m-area" name="new_skelton" value="" /> 
									<input type="submit" class="s-btn" value="追加" name="add_new_skelton" />
								</div>
								
								<div id="soycms_html_editor_wrap"></div>
								
								<div class="html-editor-btn">
									<div class="form-btn ce"> 
										<input type="submit" value="テンプレートを保存する" id="post1-submit" name="save_template" class="l-btn" onclick="return SOYCMS_TemplateEditor.sync();" /> 
									</div>
								</div>

								
							</li>
							
							<li id="tab3_container">
								<textarea soy:id="template_property" name="tpml-name" cols="70" rows="10" class="m-area liq-area" id="soycms_template_content">テンプレートhtmlが表示されます</textarea>
					
								<div class="form-btn ce"> 
									<input type="submit" value="プロパティを保存する" id="post1-submit" name="save_property" class="l-btn" /> 
								</div>
							</li>
							
							
							
						</ul>
					</div>
					
				
					
					</div><!-- /content -->
				
				</div><!-- /section -->
			</li>
			
			<li id="tpl_item_contents">
				
				<div class="section">
					
					<ul class="crumbs">
						<li><a soy:link="./" title="管理画面トップ" class="home_btn">管理画面トップ</a></li>
						<li><a soy:link="page/template">テンプレートの管理</a></li>
						<li><a href="javascript:void(0);" onclick="$('.tab-index li:first').click();"><!-- soy:id="template_name_text*" /--></a></li>
						<li>要素設定</li>
					</ul>
					
	
					<div class="title"> 
						<h3>テンプレートに入る要素(ブロック,ライブラリ,ナビゲーションなど)の設定</h3> 
					</div>	
						
					<div class="content">
						
					<div class="intro">
					<!-- soy:id="template_item_manager" -->
					レイアウトとか入るよ
					<!-- /soy:id="template_item_manager" -->
					</div>
					
					<div class="form-btn ce">
						<input type="submit" name="save_item" class="l-btn" value="保存" />
					</div>
					
					</div><!-- /content -->
				</div><!-- /section -->
				
			</li><!-- // #tpl_item_contents -->

		</ul> 

		
		
		</form>

	</div> 
	<!--  // .tab-menu --> 
	

</div> 
<!--  // .window-content --> 
</div> 
<!--  // #main-window1 -->

<!-- soy:id="history_index" -->
履歴の表示
<!-- /soy:id="history_index" -->


<script type="text/javascript">
var layout_config = <!-- soy:id="layout_config" /-->;
</script>
<script type="text/javascript" soy:src="../common/js/soycms_html_editor/editor.js"></script>
<script type="text/javascript" soy:src="../common/js/soycms_html_editor/content-assist.js"></script>
<script type="text/javascript">
$(function(){
	SOYCMS_TemplateEditor.init({
		textarea : $("#soycms_template_content"),
		wrapper : $("#soycms_html_editor_wrap")
	});
});
</script>
