<div id="main-window1" class="main-window"> 
<div class="window-title">
	<h2><!-- soy:id="template_name_text*" /-->を一括で設定</h2> 
</div>

<div class="window-content"> 
	
	<form soy:id="form">
		<div class="section">
			<div class="title">
				<h3><span>一括で設定</span></h3>
			</div> 
			<div class="content"> 
				
				<div class="pagelist-content">
					
				<ul>
					<!-- soy:id="page_list" -->
					<li soy:id="page_list_wrap"> 
						<dl class="page-item">
							<dt class="image">
								<img soy:id="page_icon" style="width:32px;height:32px;" />
							</dt>
							<dt class="name">
								<!-- soy:id="page_name" /--> (<!-- soy:id="page_uri" /-->)
							</dt> 
							<dd class="pagelist-tool-wrap">
								現在の設定：<span><!-- soy:id="current_template_name" /--></span>
								<!-- soy:id="template_toggle_check_wrap" -->
								<p>
									<input type="checkbox" soy:id="template_toggle_check" />
								</p>
								<!-- /soy:id="template_toggle_check_wrap" -->
							</dd> 
						</dl>
						<!-- soy:id="tree_child" -->
						<ul class="page-child">
							<!-- soy:id="tree" -->ここが再帰的に実行<!-- /soy:id="tree" -->
						</ul>
						<!-- /soy:id="tree_child" --> 
						
					</li soy:id="page_list_wrap">
					<!-- /page_list -->
					
				</ul>
				</div>
				
				<div class="form-btn ce"> 
					<input type="submit" value="設定する" id="post1-submit" name="save_config" class="l-btn" /> 
					
					<p>
						<a href="javascript:void(0);" onclick="if(location.href.match(/\?updated/)){window.parent.document.location.reload();}else{common_close_popup();}">閉じる</a> 
					</p>
				</div>
				
			</div> 
			<!-- //.content --> 
		</div>
		
	</form>
	

</div> 
<!--  // .window-content --> 
</div> 
<!--  // #main-window1 -->