<div id="main-window1" class="main-window"> 
					
					<div class="window-title"> 
						<h2>クイックメニュー</h2> 
						<p class="btn"><a href="/"><img src="/soycms/common/img/window-title-btn.gif" alt="画像ボタン" width="98" height="24" /></a></p> 
					</div> 
					
					<div class="window-content"> 
	
						<div class="tab-menu"> 
							<ul class="tab-index"> 
								<li><a href="#tab1">メニュー1</a></li> 
								<li class="on"><a href="#tab2">メニュー2</a></li> 
								<li><a href="#tab3">メニュー3</a></li> 
								<li><a href="#tab4">メニュー4</a></li> 
							</ul> 
							<ul class="tab-contents"> 
								<li id="tab1"> 
									<div class="section"> 
										<div class="title"> 
											<h3>メニュー1</h3> 
										</div>	
										<div class="content"> 
											<p>内容1<br>別にPタグでなくてもかまいません。</p> 
											
										</div> 
									</div> 
								</li> 
								<li id="tab2"> 
									<div class="section"> 
										<div class="title"> 
											<h3>メニュ-2</h3> 
										</div>	
										<div class="content"> 
											<h4>内容2</h4> 
											<p>テキストテキストテキスト</p> 
											<p>テキストテキストテキスト</p> 
										</div> 
									</div> 
								</li> 
								<li id="tab3"> 
									<div class="section"> 
										<div class="title"> 
											<h3>メニュー3</h3> 
										</div>	
										<div class="content"> 
											内容3
										</div> 
									</div> 
								</li> 
								<li id="tab4"> 
									<div class="section"> 
										<div class="title"> 
											<h3>メニュー4</h3> 
										</div>	
										<div class="content"> 
											内容4
										</div> 
									</div> 
								</li> 
							</ul> 
						</div> 
						<!--  // .tab-menu --> 
						
					
					</div> 
					<!--  // .window-content --> 
				</div> 
				<!--  // #main-window1 --> 
 
			
			</div> 
			<!--  // #main-contents --> 
			
			
			<div id="command-menu"> 
				
				<div id="command-menu-section1" class="section"> 
					<div class="title"> 
						<h2>更新/作成した記事</h2> 
					</div> 
					<div class="content"> 
						<ul> 
							<li><a href="/">タイトル名</a></li> 
							<li><a href="/">タイトル名</a></li> 
							<li><a href="/">タイトル名</a></li> 
						</ul> 
					</div> 
				</div> 
				<!--  // #command-menu-section1 --> 
				
				<div id="command-menu-section2" class="section"> 
					<div class="title"> 
						<h2>更新/作成したディレクトリ</h2> 
					</div> 
					<div class="content"> 
						<ul> 
							<li><a href="/">タイトル名</a></li> 
							<li><a href="/">タイトル名</a></li> 
							<li><a href="/">タイトル名</a></li> 
						</ul> 
					</div> 
				</div> 
				<!--  // #command-menu-section2 --> 
				
				<div id="command-menu-section3" class="section"> 
					<div class="title"> 
						<h2>SOY CMS更新情報</h2> 
					</div> 
					<div class="content"> 
						<ul> 
							<li><a href="/">タイトル名</a></li> 
							<li><a href="/">タイトル名</a></li> 
							<li><a href="/">タイトル名</a></li> 
						</ul> 
					</div> 
				</div> 
				<!--  // #command-menu-section3 --> 
				
				<div id="command-menu-section4" class="section"> 
					<div class="title"> 
						<h2>メニュータイトル</h2> 
					</div> 
					<div class="content"> 
						<ul> 
							<li><a href="/">メニュー</a></li> 
							<li><a href="/">メニュー</a></li> 
							<li><a href="/">メニュー</a></li> 
						</ul> 
					</div> 
				</div> 
				<!--  // #command-menu-section4 --> 
				
				
			</div> 
			<!--  // #command-menu -->
			
</div>