<div id="main-window1" class="main-window">
	
<div class="window-title">
	<h2 class="title-text"><!-- soy:id="user_name_text" /--> - 削除の確認</h2>
</div>

<div class="window-content content">
<div id="main-section1" class="section">
	
	
		<p class="intro xl">このユーザを削除してもよろしいですか？この処理は戻すことが出来ません。</p>
		
		<form soy:id="remove_form">
		
		<div class="form-section">
			<div class="label">
				<h4><label for="post1-1">ユーザーID</label></h4>
			</div>
			<div class="item">
				<p class="xxl"><!-- soy:id="user_id_text" /--></p>
			</div>
		</div>
		
		<div class="form-section">
			<div class="label">
				<h4><label for="post1-4">ユーザー名</label></h4>
			</div>
			<div class="item">
				<p class="xxl"><!-- soy:id="user_name_text" /--></p>
			</div>
		</div>
		
		<div class="form-btn ce">
			<input class="l-btn" type="submit" value="戻る" id="post1-btn1" name="post1-btn1" />
			　
			<input class="m-btn" type="submit" value="削除実行" name="next" id="post1-btn1" name="post1-btn1" />
		</div>
			
		</form>
</div>
</div>

</div>