<div id="main-window1" class="main-window">
	
<div class="window-title">
	<h2 class="title-m-area">ユーザーの追加</h2>
</div>

<div class="window-content">
<div id="main-section1" class="section">
	
	<div class="pagelist-menu"> 
		<ul> 
			<li class="back"><a soy:link="user">戻る</a></li> 
		</ul> 
	</div>
		
			
		<form soy:id="create_form">
		
		<div class="form-section">
			<div class="label">
				<h4><label for="post1-1">ユーザーID (半角英数)</label> 
				</h4>
			</div>
			<div class="item">
				<p><input name="post1-1" type="text" class="xm-area" value="" size="50" soy:id="user_id" /></p>
			</div>
		</div>
		
		<div class="form-section">
			<div class="label">
				<h4><label for="post1-3">パスワード</label></h4>
			</div>
			<div class="item">
				<p><input name="post1-3" type="text" class="xm-area" value="" size="50" soy:id="password" /></p>
			</div>
		</div>
		
		<div class="form-section">
			<div class="label">
				<h4><label for="post1-4">ユーザー名</label></h4>
			</div>
			<div class="item">
				<p><input name="post1-4" type="text" class="xm-area" value="" size="50" soy:id="user_name" /></p>
			</div>
		</div>
		
		<div class="form-section">
			<div class="label">
				<h4><label for="post1-2">メールアドレス</label></h4>
			</div>
			<div class="item">
				<p><input name="post1-2" type="text" class="xm-area" value="" size="50" soy:id="mail_address" /></p>
			</div>
		</div>
		
		<div class="form-btn ce">
			<input type="submit" value="追加" class="l-btn" />
		</div>
		
		</form soy:id="create_form">
</div>
</div>

</div>

