<div id="main-window1" class="main-window">
	
<div class="window-title">
	<h2 class="title-text"><!-- soy:id="user_name_text" /--> - 詳細</h2>
</div>

<div class="window-content content">
<div class="section">
	
	<div class="pagelist-menu"> 
		<ul> 
			<li class="back"><a soy:link="../site/user/">戻る</a></li> 
		</ul> 
	</div>
		
	<form soy:id="detail_form">

		<div class="form-section">
			<div class="label">
				<h4><label for="post1-1">ユーザーID</label></h4>
			</div>
			<div class="item">
				<p><input type="text" class="xm-area" value="" size="50" soy:id="user_id" /></p>
			</div>
		</div>
		
		<div class="form-section">
			<div class="label">
				<h4><label for="post1-4">ユーザー名</label></h4>
			</div>
			<div class="item">
				<p><input name="post1-4" type="text" class="xm-area" value="" size="50" soy:id="user_name" /></p>
			</div>
		</div>
		
		<div class="form-section">
			<div class="label">
				<h4><label for="post1-2">メールアドレス</label></h4>
			</div>
			<div class="item">
				<p><input name="post1-2" type="text" class="xm-area" value="" size="50" soy:id="mail_address" /></p>
			</div>
		</div>
		
		<div class="form-btn ce">
			<input class="l-btn" type="submit" value="更新" id="post1-btn1" name="post1-btn1" />
		</div>
			
		</form soy:id="detail_form">
</div>
</div>

</div>