<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

 <title><!-- cms:id="site_name*" /--></title>
 <subtitle>
 	<!-- cms:id="site_name*" /-->
 	<!-- cms:id="site_description" /-->
	<!-- cms:id="directory_description" /-->
 </subtitle>
 <link rel="self" href="<!-- cms:id="site_url*" /-->"/>
 <updated><!-- cms:id="feed_last_update_date" cms:format="c" /--></updated>
 <id><!-- cms:id="page_url*" /--></id>
	
 <!-- block:id="entry_list" -->
 <entry>
   <title><!-- cms:id="title" /--></title>
   <link href="<!-- cms:id="entry_url*" /-->"/>
   <id><!-- cms:id="entry_url*" /--></id>
   <author><name><!-- cms:id="site_name*" /--></name></author>
   <updated><!-- cms:id="create_date" cms:format="c" /--></updated>
   <summary><![CDATA[
   		<!-- cms:id="summary" --><!-- /cms:id="summary" -->
	]]></summary>
 </entry>
 <!-- /block:id="entry_list" -->

</feed>