<div class="main-window" style="margin-bottom:180px;">
<table>
<tr>
	<th>ステータス</th>
	<td>
		<select>
			<option value="">登録</option>
			<option value="">完了済み</option>
		</select>
	</td>
	<th>並び替え</th>
	<td>
		<select>
			<option value="">登録順</option>
			<option value="">優先順</option>
		</select>
	</td>
</tr>
</table>

<input type="button" class="m-btn" value="タスク表示" />


</div>
<div id="task-window" class="main-window">
					
	<div class="window-title"> 
		<h2>登録</h2> 
	</div> 
	
	<div class="window-content"> 
		<div class="section"> 
			<div class="content">
				<form>
					<div class="form-section">
						<textarea class="m-area liq-area" rows="5"></textarea>
					</div>
					
					<p class="ce">
						<input type="submit" name="" value="登録" class="m-btn" />
					</p>
				</form>
			</div> 
		</div> 
		<!--  // .section --> 
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #task-window1 -->

<style type="text/css">
#task-window{
	position:fixed;
	bottom:-10px;
	width:95%;
}
</style>
<br />
<br />