<div id="main-window1" class="main-window"> 
				
<div class="window-title"> 
	<h2>この操作を実行する権限がありません</h2> 
</div> 

<div class="window-content"> 
	
	<div id="main-section1" class="section">
		
		<div class="content">
			
			<p class="back">
				<a href="javascript:void(0);" onclick="history.back();">戻る</a>
			</p>
			
			<p class="xxl">
				この操作を実行する権限が無いため、操作は完了しませんでした。
			</p>
		</div> 
	</div> 
	<!--  // #main-section1 --> 

</div> 
<!--  // .window-content --> 
</div> 
<!--  // #main-window1 -->