<div id="main-window1" class="main-window"> 
					
	<div class="window-title"> 
		<h2>設定</h2> 
	</div> 
	
	<div class="window-content"> 

		<div class="tab-menu"> 
			<ul class="tab-index"> 
				<li><a href="#tab1">情報</a></li>
				<li><a href="#tab2">メールの設定</a></li>
				<li><a href="#tab3">ログイン画面の設定</a></li> 
			</ul> 
			<ul class="tab-contents"> 
				<li id="tab1_contents"> 
					<!-- soy:id="info" -->
					<!-- /soy:id="info" -->
				</li> 
				<li id="tab2_contents"> 
					<!-- soy:id="mail" /-->
				</li> 
				<li id="tab3_contents"> 
					<!-- soy:id="custom" -->
					<!-- /soy:id="custom" -->
				</li> 
				
			</ul> 
		</div> 
		<!--  // .tab-menu --> 
		
	
	</div> 
	<!--  // .window-content --> 
</div> 
<!--  // #main-window1 --> 


</div> 
<!--  // #main-contents --> 

</div>

<style type="text/css">
.notice{
	font-weight:bold;
	padding:10px;
}

</style>
