<div id="main-window1" class="main-window">
		
	<div class="window-title">
		<h2 class="title-text">高度な編集</h2>
	</div>
	
	<div class="window-content">
		
		<div class="section">
		
			<div class="content"> 
			
				<h3 soy:id="entry_title">記事名称</h3>
				
				<form soy:id="form">
				
					<div class="content">
						<textarea soy:id="sections" class="s-area liq-area resizable html-editor" rows="30"></textarea> 
					</div>
					
					<div class="ce">
						<input id="save_submit_btn" type="submit" name="save_sections" value="保存" class="l-btn" />
					</div>
				
				</form>
			</div><!-- //.content -->
		</div>
		
	</div>
	<!--  // .window-content -->
</div>
<!--  // #main-window1 -->


<script type="text/javascript" soy:id="ajax_action"></script>
<script type="text/javascript" soy:src="../common/wysiwyg/aobata.js"></script>
<script type="text/javascript" soy:src="../common/js/soycms_entry/editor.js"></script>

<style type="text/css">

</style>
