	 
	<!-- soy:id="form_window" -->
	
	<div id="main-window1" class="main-window"> 
	
		<div class="window-title"> 
			<h2>パスワード再発行</h2> 
		</div> 
		
		<div class="window-content"> 
			
			<div id="main-section1" class="section"> 

				<div class="content"> 
						<p class="l">URLが失効しています。</p>
						<div id="post1-section4" class="form-section"> 
							<div class="item"> 
								<p class="ce"><a soy:link="./login">ログイン画面</a></p> 
							</div> 
						</div> 
						
					</form> 
				</div> 
			</div> 
			<!--  // #main-section1 --> 

		</div> 
		<!--  // .window-content --> 
	</div> 
	<!--  // #main-window1 --> 
	<!-- /soy:id="form_window" -->
	