	 
	<!-- soy:id="form_window" -->
	
	<div id="main-window1" class="main-window"> 
	
		<div class="window-title"> 
			<h2>パスワード再発行</h2> 
		</div> 
		
		<div class="window-content"> 
			
			<div id="main-section1" class="section"> 

				<div class="content"> 
					<p class="intro">登録メールアドレスを入力し、確認ボタンを押してください。</p> 
					<form soy:id="confirm_form"> 
						<div id="post1-section1" class="form-section"> 
							<div class="label"> 
								<h4>メールアドレス</h4> 
							</div> 
							<div class="item"> 
								<p> 
									<input soy:id="mail_addr" type="text" id="post1-2" name="post1-2" value="" class="xm-area liq-area" /> 
								</p> 
							</div> 
						</div> 
						
						<div id="post1-section3" class="form-section"> 
							<div class="item"> 
								<p class="ce"> 
									<input type="submit" value="確認" name="post1-submit" class="l-btn" /> 
								</p> 
							</div> 
						</div> 
						
						<div id="post1-section4" class="form-section"> 
							<div class="item"> 
								<p class="ce"><a soy:link="login">ログイン画面</a></p> 
							</div> 
						</div> 
						
					</form> 
				</div> 
			</div> 
			<!--  // #main-section1 --> 

		</div> 
		<!--  // .window-content --> 
	</div> 
	<!--  // #main-window1 --> 
	<!-- /soy:id="form_window" -->
	
	
	<!-- soy:id="confirm_window" -->
	<div id="main-window2" class="main-window"> 
	
		<div class="window-title"> 
			<h2>パスワード再発行確認</h2> 
		</div> 
		
		<div class="window-content"> 
			
			<div id="main-section1" class="section"> 

				<div class="content"> 
					<p class="intro">
					「<!-- soy:id="maiil_addr" /-->」宛にパスワード再発行確認URLを送りました。<br />
					メールに記載されているURLより新しいパスワードを再設定してください。
					</p> 
						
					<div id="post1-section4" class="form-section"> 
						<div class="item"> 
							<p class="ce"><a soy:link="login">ログイン</a></p> 
						</div> 
					</div> 
					 
				</div> 
			</div> 
			<!--  // #main-section1 --> 

		</div> 
		<!--  // .window-content --> 
	</div> 
	<!--  // #main-window2 --> 
	<!-- /soy:id="confirm_window" -->
	
	<!-- soy:id="reset_password" -->
	<div id="main-window2" class="main-window"> 
	
		<div class="window-title"> 
			<h2>新しいパスワードを入力して下さい</h2> 
		</div> 
		
		<div class="window-content"> 
			
			<div id="main-section1" class="section"> 

				<div class="content"> 
					
					<!-- soy:display="errors" -->
					<p class="l errors" style="color:red;">入力されたパスワードが正しくありません。</p>
					<!-- /soy:display="errors" --> 
					
					<p class="intro">
						新しいパスワードを入力し、パスワードの設定を押してパスワードを再登録してください。
					</p>
					
					
						
					<form soy:id="reset_form">
						<input type="text" soy:id="token" type="hidden" />
						
						<div id="post1-section1" class="form-section"> 
							<div class="label"> 
								<h4>ID</h4> 
							</div> 
							<div class="item"> 
								<p> 
									<!-- soy:id="your_id" /--> 
								</p> 
							</div> 
						</div> 
						<div id="post1-section2" class="form-section"> 
							<div class="label"> 
								<h4> 
								<label for="post1-2">新しいパスワード</label></h4> 
							</div> 
							<div class="item"> 
								<p> 
									<input soy:id="new_password" type="password" id="post1-2" name="post1-2" value="" class="xm-area liq-area" /> 
								</p> 
							</div> 
						</div> 
						<div id="post1-section2" class="form-section"> 
							<div class="label"> 
								<h4> 
								<label for="post1-2">新しいパスワード（確認）</label></h4> 
							</div> 
							<div class="item"> 
								<p> 
									<input soy:id="new_password_confirm" type="password" id="post1-2" name="post1-2" value="" class="xm-area liq-area" /> 
								</p> 
							</div> 
						</div> 
						<div id="post1-section3" class="form-section"> 
							<div class="item"> 
								<p class="ce"> 
									<input type="submit" value="パスワードの設定" id="post1-submit" name="post1-submit" class="l-btn" /> 
								</p> 
							</div> 
						</div> 
					</form>
					 
				</div> 
			</div> 
			<!--  // #main-section1 --> 

		</div> 
		<!--  // .window-content --> 
	</div> 
	<!--  // #main-window2 --> 
	<!-- /soy:id="reset_password" -->
	
	<!-- soy:id="password_set" -->
	<div class="main-window"> 
	
		<div class="window-title"> 
			<h2>パスワードを再発行しました</h2> 
		</div> 
		
		<div class="window-content"> 
			
			<div id="main-section1" class="section"> 

				<div class="content"> 
					<p class="intro">新しいパスワードを設定しました。</p>
					
					<div id="post1-section3" class="form-section"> 
						<div class="item"> 
							<p class="ce"> 
								<a soy:link="login" class="l-btn">ログイン画面に移動</a> 
							</p> 
						</div> 
					</div> 
					 
				</div> 
			</div> 
			<!--  // #main-section1 --> 

		</div> 
		<!--  // .window-content --> 
	</div> 
	<!--  // #main-window2 --> 
	<!-- /soy:id="password_set" -->
	
	