<div id="main-window1" class="main-window">
	
<div class="window-title">
	<h2 class="title-text">次のサイトにログインします。</h2>
</div>

<div class="window-content">
	<div class="section">
		<div class="content">
		
			<div class="form-section lbreak ce">
				<img soy:id="site_image" width="150" height="64" />
			</div>
			
			<div class="form-section">
				<div class="label"> 
					<h4>サイト名称</h4> 
				</div>
				<div class="item">
					<p class="xxl"><strong><!-- soy:id="site_name" /--></strong></p>
				</div>
			</div>
			<div class="form-section lbreak">
				<div class="label"> 
					<h4>サイトURL</h4> 
				</div>
				<div class="item">
					<p class="xxl">
						<a soy:id="site_link"><strong><!-- soy:id="site_url" /--></strong></a>
					</p>
				</div>
			</div>
		
			<div class="form-section">
				<div class="item">  
					<p class="ce"> 
						<a class="l-btn" soy:id="site_login_url"><em>このサイトにログイン</em></a>
						<a class="l-btn" soy:link="./site/select"><em>サイトを選択する</em></a> 
					</p> 
				</div> 
			</div>
		</div>
	</div>
</div>

</div>

