<div id="main-window1" class="main-window">
	
<div class="window-title">
	<h2 class="title-text"><!-- soy:id="site_name_text" /--> - 削除の確認</h2>
</div>

<div class="window-content content">
<div id="main-section1" class="section">
		
		<form soy:id="form">
		
		<p class="xxl">
			<!-- soy:id="site_name_text" /-->を本当に削除しますか？
			この操作は戻せません。
		</p>
		
		<div class="item ce">
			<input id="with_file" type="checkbox" name="with_file" value="1" />
			<label for="with_file">ファイルも削除する</label>
		</div>
		
		<div class="form-btn ce">
			<input type="submit" class="m-btn" name="back" value="戻る" />
			<input type="submit" class="m-btn" name="remove" value="実行" />
		</div>
		
		
		
		</form>
</div>
</div>

</div>